<div class="card">
    <div class="card-header">
       <b> {{costTemplateTitle}}</b>
    </div>
    <div class="card-body">
        <div class="col-6">
            <form #costTemplateForm="ngForm" (submit)="saveCostTemplate(costTemplateForm)">
                <div class="form-group row">
                    <label for="author" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Cost TemplateName:</label>
                    <div class="col-md-8">
                        <input id="CostTemplateName" placeholder="Enter CostTemplateName" name="CostTemplateName" type="text" class="form-control form-control-sm" ngModel>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="editor" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Imprint:</label>
                    <div class="col-md-8">
                        <select class="form-control form-control-sm" id="imprint" name="imprint" ngModel>
                        <option value="">Select Imprint</option>
                            <option *ngFor="let imprint of imprints" [value]="imprint.imprintId">
                            {{imprint.type}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="editionType" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Royalty Template:</label>
                    <div class="col-md-8">
                        <select class="form-control form-control-sm" id="Royalty" name="Royalty" ngModel>
                            <option  value="">Select Royalty</option>
                                <option *ngFor="let royallity of royaltyTemps" [value]="royallity.royaltyTypeId">
                                {{royallity.royaltyTemplateName}}
                                </option>
                            </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="material" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Sales Template:</label>
                    <div class="col-md-8">
                        <select class="form-control form-control-sm" id="sales.salesTemplatesId" name="sales.salesTemplatesId" ngModel>
                            <option  value="">Select Sales</option>
                                <option *ngFor="let sales of salesTemplate" [value]="sales.salesTemplatesId">
                                {{sales.salesTemplateName}}
                                </option>
                            </select>
                    </div>
                </div>
                
                <div class="float-right">
                    <button class="btn btn-outline-secondary mr-2" type="reset">Cancel</button>
                    <button class="btn btn-outline-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
        <br><br>
    </div>
</div>
<br>
    <div class="card">
        <div class="card-header">
           <b> {{costTemplateTitle + " Data"}}</b>
        </div>
        <div class="card-body">
           
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#  </th>
                            <th>CostTemplate Name</th>
                            <th>Imprint</th>
                            <th>Royalty Template</th>
                            <th>Sales Template</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let costT of costTemplatesData; index as i">                  
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{costT.costTemplateName}}</td>
                            <td>{{costT.imprintType}}</td>
                            <td>{{costT.royaltyTemplateName}}</td>
                            <td>{{costT.salesTemplateName}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>