<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{pageTitle}}</h5>
    </div>
    
<div class="container mr-3">
    <div class="split left" style="width: 600px; align-items: center; height: 400px;"> 
       <highcharts-chart
          [Highcharts] = "highcharts" 
          [options] = "chartOptions" 
          style = "width: 80%; height: 400px; display: block;">
       </highcharts-chart>
       </div>
    <div class="split right" style="width: 600px; height: 400px;"> 
    <highcharts-chart
       [Highcharts] = "highcharts" 
       [options] = "chartOptions1" 
       style = "width: 80%; height: 400px; align-items: center; display: block;">
    </highcharts-chart>
    </div>
    </div>
</div>