<div class="card">
    <div class="card-header">
        {{imprintTitle}}
    </div>
    <div class="card-body">
        <div class="col-6">
            <form #imprintForm="ngForm">
                <div class="form-group row">
                    <label for="author" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Author:</label>
                    <div class="col-md-8">
                        <select id="author" name="author" class="form-control form-control-sm" ngModel>
                            <option value="" disabled selected>Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="editor" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Editor:</label>
                    <div class="col-md-8">
                        <select id="editor" name="editor"  class="form-control form-control-sm" ngModel>
                            <option value="" disabled selected>Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="editionType" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Edition Type:</label>
                    <div class="col-md-8">
                        <select id="editionType" name="editionType"  class="form-control form-control-sm" ngModel>
                            <option value="" disabled selected>Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="material" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Material:</label>
                    <div class="col-md-8">
                        <select id="material" name="material"  class="form-control form-control-sm" ngModel>
                            <option value="" disabled selected>Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="isbn" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        ISBN:</label>
                    <div class="col-md-8">
                        <input id="isbn" name="isbn" type="text" class="form-control form-control-sm" ngModel>
                    </div>
                </div>
                <div>
                    <button class="btn btn-outline-secondary mr-2" type="reset">Cancel</button>
                    <button class="btn btn-outline-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
        {{imprintForm.value | json}}
    </div>
</div>