<div class="card">
    <div class="card-header">
        {{imprintTitle}}
    </div>
    <div class="card-body">
        <div class="col-6">
            <form #imprintForm="ngForm" (ngSubmit)="saveImprint(imprintForm)">
                <div class="form-group row">
                    <label for="author" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Author:</label>
                    <div class="col-md-8">
                        <select id="author" name="author" class="form-control form-control-sm">
                            <option value="" selected>Select Author</option>
                            <option *ngFor="let author of authors">
                                {{author.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Title:</label>
                    <div class="col-md-8">
                        <input id="title" name="title" type="text" class="form-control form-control-sm"
                            [(ngModel)]="imprintObj.title" placeholder="Title">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="editor" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Editor:</label>
                    <div class="col-md-8">
                        <select id="editor" name="editor" class="form-control form-control-sm">
                            <option value="" selected>Select Editor</option>
                            <option *ngFor="let item of editors">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="editionType" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Edition Type:</label>
                    <div class="col-md-8">
                        <select id="editionType" name="editionType" class="form-control form-control-sm">
                            <option value="">Select Type</option>
                            <option value="1">CD</option>
                            <option value="2">Book</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="material" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Material:</label>
                    <div class="col-md-8">
                        <select id="material" name="material" class="form-control form-control-sm">
                            <option value="" selected>Select Material</option>
                            <option *ngFor="let item of materials">
                                {{item.coverType}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="isbn" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        ISBN:</label>
                    <div class="col-md-8">
                        <input id="isbn" name="isbn" type="text" class="form-control form-control-sm"
                            [(ngModel)]="imprintObj.isbn" placeholder="Isbn">
                    </div>
                </div>
                <div class="float-right">
                    <button class="btn btn-outline-secondary mr-2" type="reset">Cancel</button>
                    <button class="btn btn-outline-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        {{imprintTitle + " Data"}}
    </div>
    <div class="card-body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th># </th>
                    <th>Title</th>
                    <th>Author Name</th>
                    <th>Edition Type</th>
                    <th>Material</th>
                    <th>ISBN</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let imprint of imprintTable; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{imprint.title}}</td>
                    <td>{{imprint.contriutorName}}</td>
                    <td>{{imprint.editorName}}</td>
                    <td>{{imprint.coverType}}</td>
                    <td>{{imprint.isbn}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>