<div class="card">
    <div class="card-header">
        <b>{{salesTempTitle}}</b>
    </div>
    <div class="card-body">
        <div class="col-6">
            <form #salesForm="ngForm" (ngSubmit)="savesales(salesForm)">
                <div class="form-group row">
                    <label for="title" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        SalesTemplateName:</label>
                    <div class="col-md-8">
                        <input id="SalesTemplateName" name="SalesTemplateName" type="text" class="form-control form-control-sm"
                            [(ngModel)]="SalesTemplateName" placeholder="Sales TemplateName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="editor" class="col-md-4 col-form-label col-form-label-sm font-weight-bold pr-0">
                        Sales Type :</label>
                    <div class="col-md-8">
                        <select id="editor" name="editor" class="form-control form-control-sm">
                            <option value="" selected>Select SalesType</option>
                            <option *ngFor="let item of salesType">
                                {{item.type}}
                            </option>
                        </select>
                    </div>
                </div>
                
                <div class="float-right">
                    <button class="btn btn-outline-secondary mr-2" type="reset">Cancel</button>
                    <button class="btn btn-outline-primary" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>

<div class="card">
    <div class="card-header">
        <b>{{salesTempTitle + " Data"}}</b>
    </div>
    <div class="card-body">
       
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#  </th>
                        <th>Template Name</th>
                        <th>Sales Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let salesT of saleTemps; index as i">                  
                       <!--<th scope="row">{{el.id}}</th>
                        --> 
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{salesT.salesTemplateName}}</td>
                        <td>{{salesT.salesType}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>